<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="settings-list" lines="none">
    <ion-item class="settings-item">
      <ion-icon name="moon-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Modo Oscuro</ion-label>
      <ion-toggle [checked]="isDarkMode" (ionChange)="toggleDarkMode($event)"></ion-toggle>
    </ion-item>
  </ion-list>

  <p class="settings-footnote">Planify</p>
</ion-content>